<%= render 'partials/navbar' %>

<!-- <p id="notice"><%= notice %></p> -->

<div class="jumbotron jumbotron-fluid">
<div class="container">

<h1 style="text-align: center;">My Patients</h1>

<div id="top-container">
    <!-- adding patient to database -->
    <div id="patient_add" style="float: right"><%= link_to 'New Patient', new_patient_path, class: "btn btn-success btn-m" %></div>
    <!-- Search bar for searching patients -->
    <div id="search_bar" style="float: left">
        <!-- Search bar -->
        <%= form_tag(patients_path, :method => "get") do %>
            <div class="input-group add-on">
              <%= text_field_tag :Full_Name, params[:Full_Name], class: 'form-control' %>
                <div class="input-group-btn">
                    <%= button_tag 'Search', name: nil, class: 'btn btn-default' do %>
                        <i class="fas fa-search"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<br>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Full name</th>
      <th scope="col">Age</th>
      <th scope="col">Sex</th>
      <th scope="col">Address</th>
      <th scope="col">PPS</th>
      <th scope="col">Medical card</th>
      <th scope="col">Dentist</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.Full_Name %></td>
        <td><%= patient.Age %></td>
        <td><%= patient.Sex %></td>
        <td><%= patient.Address %></td>
        <td><%= patient.PPS %></td>
        <td><%= patient.Medical_Card %></td>
        <td><%= patient.user.email.split('@')[0] %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>

<%= render 'partials/footer' %>
