<%= render 'partials/navbar' %>

<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
<div class="container">


<h1>My Patients</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Address</th>
      <th>Pps</th>
      <th>Medical card</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.Full_Name %></td>
        <td><%= patient.Age %></td>
        <td><%= patient.Sex %></td>
        <td><%= patient.Address %></td>
        <td><%= patient.PPS %></td>
        <td><%= patient.Medical_Card %></td>
        <td><%= patient.user %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
</div>
</div>

<%= render 'partials/footer' %>
