<%= render 'partials/navbar' %>

<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
<div class="container">


<h1>My Patients</h1><br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Full name</th>
      <th scope="col">Age</th>
      <th scope="col">Sex</th>
      <th scope="col">Address</th>
      <th scope="col">Pps</th>
      <th scope="col">Medical card</th>
      <th scope="col">Dentist</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.Full_Name %></td>
        <td><%= patient.Age %></td>
        <td><%= patient.Sex %></td>
        <td><%= patient.Address %></td>
        <td><%= patient.PPS %></td>
        <td><%= patient.Medical_Card %></td>
        <td><%= patient.user.email.split('@')[0] %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
</div>
</div>

<%= render 'partials/footer' %>
