<%= render 'partials/navbar' %>

<div class="jumbotron jumbotron-fluid">
<div class="container">

<h1 style="text-align: center;">My Appointments</h1>
<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Notes</th>
      <th scope="col">Date</th>
      <th scope="col">Patient</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.notes %></td>
        <td><%= MasterDecorator.new(appointment).display_time_for_appointment %></td>
        <td><%= appointment.patient.Full_Name %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Appointment', new_appointment_path, class: "btn btn-success btn-m" %>

</div>
</div>

<%= render 'partials/footer' %>
