<%= render 'partials/navbar' %>

<br/><br/>
<div class="container ">
    <div class="jumbotron ">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <%= image_tag ("calendar-icon.svg"), class: "patient-view"%>
            </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container">
                        <h2 style="text-align:center;">
                            Appointment for : <%= @appointment.patient.Full_Name %>
                        </h2>
                    </div>
                    <hr class="colorgraph">

                    <ul class="container details">
                        <!--  Appointment Description -->
                        <li><textarea readonly>Notes : <%= @appointment.notes %></textarea></li>
                        <!-- Appointment Date -->
                        <li><p>Date : <%= @appointment.date %></p></li>
                        <!-- Appointment Dentist -->
                        <li><p>Dentist : Dr <%= @appointment.user.profile.firstname %> <%= @appointment.user.profile.lastname%></p></li>
                        <!-- Appointment Patient -->
                        <li><p>Patient : <%= @appointment.patient.Full_Name %></p></li>

                    </ul>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <%= link_to 'Back', appointments_path, class: "btn btn-dark btn-m" %> |
            <%= link_to 'Edit', edit_appointment_path(@appointment), class: "btn btn-warning btn-m" %>
        </div>
</div>

<%= render 'partials/footer' %>
